.header,
.footer_list-link,
.popup,
#mobileMenu {
  width: 100%;
}

.header_nav,
.footer_list-container {
  padding: 16px 0;
}

.nav_container,
.header_nav,
.search_btn,
.btnToTop,
.closeBtn,
.mobile_menu_btn,
.social_link-list,
.popup-content,
.about_links,
.footer_contact a,
.social_link-list a,
.footer_logo-container,
.footer_list-container,
.footer_logo-icon_list,
.footer_partners-list,
.footer_contacts,
.footer_contacts a {
  display: flex;
}
.nav_container {
  align-items: flex-end;
}
.header_logo {
  display: block;
  width: 52px;
  height: 32px;
}
.header_logo-full,
.nav_list,
.search_input,
.btnToTop,
.hidden,
#dropdownIcon,
.footer_logo-social-link,
.footer_partners,
.popup,
.rss_container {
  display: none;
}
.header_logo-full {
  width: 188px;
  height: 27px;
}

.footer_contact a,
.social_link-list,
.footer_logo-social-link,
.footer_logo-icon_list,
.footer_partners-list {
  gap: 8px;
}

.nav_list-link {
  font-family: Verdana, Arial;
  font-size: 1em;
}

.search_container {
  display: flex;
}

.input-container {
  position: relative;
  display: inline-block;
}
#inputWithIcon {
  padding-right: 20px;
}
#dropdownIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  border-left: 1px solid #cccccc;
  height: 100%;
  padding-left: 5px;
  color: #cccccc;
}

.search_btn,
.btnToTop,
.closeBtn,
.mobile_menu_btn,
.footer_contact a,
.social_link-list a,
.copyright,
.footer_contacts a,
#dropdownIcon,
.popup-content,
.footer_logo-so.footer_logo-social-link {
  align-items: center;
}
.search_btn,
.popup-content,
.popupBtn,
.closeBtn,
.mobile_menu_btn {
  border-radius: 4px;
}

.search_btn,
.btnToTop,
#mobileMenu,
.popup {
  z-index: 999;
}
.search_btn {
  border: 2px solid #999999;
  color: #999999;
  margin-left: -4px;
}

.btnToTop,
.closeBtn,
.mobile_menu_btn,
.social_link-list,
.popup-content {
  justify-content: center;
}
.btnToTop {
  background-color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: fixed;
  bottom: 15px;
  right: 15px;
}
.btnToTop:hover {
  background-color: rgba(204, 204, 204, 0.7);
}

.footer {
  background-color: #f4f4f4;
  padding: 24px 0;
}

.footer_logo {
  width: 163px;
  height: 32px;
  margin-bottom: 10px;
}

.footer_address-centrum {
  font-weight: 500;
}

.footer_address-work_time {
  color: #777;
}

.footer_contact li {
  margin-bottom: 25px;
}

.footer_contact-icon {
  background-color: #000;
  border-radius: 50%;
  color: #fff;
  padding: 5px;
  margin-right: 8px;
}
.about_links,
.nav_list-link,
.footer_contact a,
.footer_contacts a {
  color: #000;
}
.about_links {
  flex-direction: column;
  flex-wrap: wrap;
  height: 384px;
  padding: 5px 0;
  margin: 0;
}

.about_links a {
  color: #041e42;
}
.about_links li {
  height: 30px;
}

.social_link-list,
.footer_address,
.footer_list-container {
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}
.social_link-list a {
  flex-direction: column;
  justify-content: space-between;
  width: 64px;
  height: 64px;
  color: #6f6f6f;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
}
.social_link-icon {
  width: 40px;
  height: 40px;
}

.footer_logo-container,
.footer_list-container,
.header_nav {
  justify-content: space-between;
}

.footer_logo-icon {
  width: 32px;
  height: 32px;
}

.footer_partners {
  max-width: 57%;
}
.partners_logo-icon {
  height: 24px;
  width: auto;
}

.footer_partners-list li {
  width: 200px;
  margin-bottom: 30px;
}

.footer_partners-list {
  flex-wrap: wrap;
  width: 620px;
}

.footer_contacts,
.nav_container {
  gap: 20px;
}

.copyright {
  justify-content: space-between;
  font-size: 14px;
  padding: 20px 0;
}
.copyright a {
  color: #041e42;
}

.copyright p {
  color: #555;
}

/* mobile-menu */

.mobile_menu_btn,
.closeBtn {
  color: rgb(102, 102, 102);
  border: 2px solid rgb(102, 102, 102);
  margin-right: 10px;
}

#mobileMenu {
  top: 30px;
  height: 100%;
  background-color: rgba(45, 41, 38, 0.9);
}
#mobileMenu ul {
  list-style-type: none;
}
#mobileMenu a {
  color: white;
  font-weight: 500;
  text-decoration: none;
  padding: 15px 2em;
  display: block;
}

.nav_list-item {
  border-bottom: 1px solid #555;
}

/* POPUP */

.popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.popup-content {
  width: 200px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-image: url(./bgform.jpg);
  background-size: cover;
}

.popupBtn {
  font-weight: 600;
  padding: 10px;
  background-color: red;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

/* MEDIA */

@media (min-width: 480px) {
  .copyright_text {
    display: inline;
  }
}

@media screen and (min-width: 768px) {
  .nav_list {
    margin: 0;
    display: flex;
    gap: 10px;
    list-style: none;
  }
  .nav_list-item {
    border: none;
  }
  .closeBtn,
  #openMenuBtn,
  #mobileMenu {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  #dropdownIcon,
  .footer_logo-social-link,
  .copyright {
    display: flex;
  }

  .footer_list-link {
    max-width: 41%;
  }

  .footer_address,
  .social_link-list,
  .header_logo {
    display: none;
  }

  .search_input,
  .header_logo-full,
  .footer_partners,
  .rss_container {
    display: block;
  }
  .rss_container a {
    margin-left: 8px;
  }
  .search_btn {
    background-color: #efebe2;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
