/* */
.header {
  background-color: #fff;
  position: static;
  width: 100%;
}
.header_nav {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
}

.nav_container {
  display: flex;
  gap: 20px;
  align-items: flex-end;
}
.header_logo {
  display: block;
  width: 52px;
  height: 32px;
}

.header_logo-full {
  display: none;
  width: 188px;
  height: 27px;
}

.nav_list {
  display: none;
  margin: 0;
}

.nav_list-link {
  color: #000;
  font-family: Verdana, Arial;
  font-size: 1em;
}

.search_container {
  display: flex;
}

.search_input {
  display: none;
}
.search_btn {
  display: flex;
  align-items: center;
  border-radius: 4px;
  border: 2px solid #999999;
  color: #999999;
  margin-left: -4px;
}

.btnToTop {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: none;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 1000;
}
.btnToTop:hover {
  background-color: rgba(204, 204, 204, 0.7);
}

/* mobile-menu */

.closeBtn {
  color: rgb(102, 102, 102);
  border: 2px solid rgb(102, 102, 102);
  border-radius: 4px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile_menu_btn {
  color: rgb(102, 102, 102);
  border: 2px solid rgb(102, 102, 102);
  border-radius: 4px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#mobileMenu {
  z-index: 999999;
  top: 30px;
  width: 100%;
  height: 100%;
  background-color: rgba(45, 41, 38, 0.9);
  /* transition: top 0.3s; */
}
#mobileMenu ul {
  list-style-type: none;
}
#mobileMenu a {
  color: white;
  font-weight: 500;
  text-decoration: none;
  padding: 15px 2em;
  display: block;
}
.hidden {
  display: none;
}

.nav_list-item {
  border-bottom: 1px solid #555;
}

.footer {
  padding: 24px 0;
}

.footer_logo {
  width: 163px;
  height: auto;
  margin-bottom: 10px;
}

.footer_address {
  border-bottom: 1px solid #ccc;
}
.footer_address-centrum {
  font-weight: 500;
}

.footer_address-work_time {
  color: #777;
}

.footer_contact a {
  color: #000;
  display: flex;
  gap: 8px;
  align-items: center;
}

.footer_contact li {
  margin-bottom: 20px;
}

.footer_contact-icon {
  background-color: #000;
  border-radius: 50%;
  color: #fff;
  padding: 3px;
  /* width: 20px; */
  /* height: 20px; */
}

@media screen and (min-width: 768px) {
  .nav_list {
    display: flex;
    gap: 10px;
    list-style: none;
  }
  .nav_list-item {
    border: none;
  }
  .closeBtn {
    display: none;
  }
}
@media screen and (min-width: 1099px) {
  .header_logo-full {
    display: block;
  }
  .header_logo {
    display: none;
  }
  .search_input {
    display: block;
  }
  .search_btn {
    background-color: #efebe2;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: #000;
  }
}

@media (min-width: 768px) {
  #openMenuBtn,
  #mobileMenu {
    display: none;
  }
}

.test_links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 384px;
  color: #000;
  padding: 5px 0;
  margin: 0;
}

.test_links a {
  color: #000;
}
.test_links li {
  height: 30px;
}

.footer_list-link {
  padding-top: 20px;
  border-bottom: 1px solid #ccc;
}

.social_link-list {
  padding: 20px 0;
  display: flex;
  gap: 10px;
  justify-content: center;
  border-bottom: 1px solid #ccc;
}
.social_link-list a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 64px;
  color: #000;
}
.social_link-icon {
  width: 40px;
  height: 40px;
}
